@{
    ViewBag.Title = "Acerca de";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>
    CompiteSoft consiste en una aplicación visual con una integración total en la web .
    Su diseño responsive posibilita su uso en todo tipo de dispositivos portátiles ,
    adaptándose de manera automática a estos lo que nos brinda el poder llegar a un
    mayor número de usuarios con una gran posibilidad de futuro.
</p>
