@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Polígono Industrial Campo Alto<br />
    c/ Alemania, 112.<br />
    <abbr title="Phone">P:</abbr>
    695.596.362
</address>

<address>
    <strong>Soporte:</strong>   <a href="mailto:Support@example.com">soporte@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>